@import 'tailwindcss';
@plugin "daisyui";

@theme {
  --color-mga-1: #035e3c;
  --color-mga-2: #ddffa2;
  --color-mga-3: #002928;
  --color-mga-4: #e9fee1;
  --color-mga-5: #1f916a;
  --color-mga-6: #005e3c;
  --color-mga-7: #8fc31f;
  --color-mga-black: #002928;
  --color-mga-blue: #27baab;
  --color-mga-purple: #8e77f5;
  --color-mga-green: #43c689;
  --color-mga-gradation-1-1: #2e573f;
  --color-mga-gradation-1-2: #76a063;

  --bg-radial-dark:  radial-gradient(ellipse at 210% 20%, #A4CE7A 0%, #A4CE7A 21%, #002928 93%);
  --bg-radial-light: radial-gradient(circle at center, #ddffa2 0%, #bce670 100%);
}

@utility bg-radial-dark {
  background-image: var(--bg-radial-dark);
}

@utility bg-radial-light {
  background-image: var(--bg-radial-light);
}